%%-*- mode: erlang -*-

{deps,
 [
  {webmachine, "1.9.*", {git, "git://github.com/basho/webmachine", "HEAD"}},
  {erlinotify, ".*", {git, "git://github.com/dipthegeezer/erlinotify", "HEAD"}},
  {erlexiftool, ".*", {git, "git://github.com/dipthegeezer/erlexiftool", "HEAD"}},
  {couchbeam, "0.8.1", {git, "git://github.com/benoitc/couchbeam", "HEAD"}}
 ]
}.
